@body-bg: #ffffff;
body {
  background-color: @body-bg;
}

.marginTop20 {
  margin-top: 20px;
}

.paddingTop25 {
  padding-top: 25px;
}

.marginTop50 {
  margin-top: 50px;
}
.marginBottom50 {
  margin-bottom: 50px;
}

.marginLeft20FloatRight {
  .marginLeft20;
  .floatRight;
}

.marginLeft20FloatLeft {
  .marginLeft20;
  .floatLeft;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.dateSelectorsHeader {
  font-weight: 700;
}

.daySelector {
  .floatLeft;
  display: inline-block;
  width: 67px;
}

.monthSelector {
  .floatLeft;
  display: inline-block;
  width: 115px;
}

.yearSelector {
  display: inline-block;
  width: 85px;
}

.marginLeft20 {
  margin-left: 20px;
}

.marginLeft5 {
  margin-left: 5px;
}

.marginLeft15 {
  margin-left: 15px;
}

.divBorder {
  border-radius: 2px;
  border: 1px solid #dedede;
  box-shadow: 0 1px 1px #f2f2f2;
  background: white;
  padding: 27px 18px 0px 19px;
}

.loginDiv {
  .centerDiv;
  .divBorder;
  .marginTop20;
  margin-left: 250px;
  margin-right: 250px;
}

.createTestsPageDiv {
  .centerDiv;
  .divBorder;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 20px;
}

.modifyTestsPageDiv {
  .centerDiv;
  .divBorder;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.createQuestionsDiv {
  .centerDiv;
  .divBorder;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

.numberOfQuestionsInput {
  width: 50px;
}

.loginEnterSystemButtonDiv {
  .centerDiv;
  margin-bottom: 20px;
  margin-top: 20px;
}

.createTestButtonDiv {
  .centerDiv;
  margin-bottom: 20px;
  margin-top: 80px;
  margin-left: 250px;
}

.goToFirstPageButtonDiv {
  .centerDiv;
  margin-bottom: 20px;
  margin-top: 80px;
}

.assessmentWelcomeDiv {
  .centerDiv;
  .divBorder;
}

.assessmentWelcomeStartTestButtonDiv {
  .marginTop50;
  .centerDiv;
  margin-left: 417px; //-47 (20 from div and 27 from padding)
  margin-bottom: 20px;
}

.startCreatingQuestionsButtonDiv {
  .marginTop50;
  .centerDiv;
  margin-bottom: 20px;
}

.startTestButton {
  color: #45a6df;
}

.questionNavButtonsDiv {
  .marginTop20;
  .centerDiv;
}

.saveAndNavButtonsDiv {
  .marginTop20;
  .centerDiv;
}

.logoDiv {
  .centerDiv;
  height: 50px;
  background: #00305f url(logo.png) no-repeat;
}

.logoTextDiv {
  margin-left: 65px;
  padding-top: 7px;
  font-size: 22px;
  color: #ffffff;
}

.centerDiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerQuestionDiv {
  .centerDiv;
  margin-left: 20px;
  margin-right: 20px;
}

.questionTitle {
  margin: 0 auto;
}

.questionNumberInRow {
  font-weight: 500;
  width: 20px;
  color: #808888;
}

.questionNumberInRow:hover {
  text-decoration: underline;
  cursor: pointer;
}

.answered {
  font-weight: 700;
  color: #000000;
}

.selected {
  font-weight: 700;
  color: #337ab7;
  font-size: x-large;
}

.timerDiv {
  //position: absolute;
  float: right;
  right: 20px;
}

.timerFont {
  font-weight: 600;
  color: #337ab7;
}

.groupDiv {
  //position: absolute;
  float: left;
  left: 20px;
  width: 80%;
}

.inputLabel {
  text-align: right;
}

.inputField {
  padding-left: 5px;
  width: 200px;
}

.resultsTableDiv {
  .loginDiv;
  text-align: center;
}

.resultsTable {
  .marginTop50;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.resultsLabelsTd {
  text-align: left;
}

.resultsNumbersTd {
  text-align: right;
}

.correctAnswerCheckboxTd {
  width: 60px;
  position: relative;
}

.deleteChoiceTd {
  width: 60px;
}

.deleteChoiceButton {
  margin-top: 15px;
}

.correctAnswerCheckboxInputMargin {
  left: 50px;
}

.badMarkStyle {
  color: red;
}

.goodMarkStyle {
  color: #008800;
}

.headerDivFont {
  font-size: xx-large;
}

.correctAnswerCheckBoxDiv {
  position: absolute;
  top: 0;
}

.addLinkButton {
  position: absolute;
  bottom: 5px;
}

.removeLinkButton {
  position: absolute;
  bottom: 39px;
}

.linkTextWellMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.linkTextWellMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.testFilesDiv {
  position: absolute;
  top: 170px;
  left: 50px;
}

.testFileContentDiv {
  position: absolute;
  top: 170px;
  right: 50px;
}




